
@font-face {
  font-family: 'lato-thin';
  src: url('lato-thin-webfont.eot?#iefix') format('embedded-opentype'),
    url('lato-thin-webfont.woff') format('woff'),
    url('lato-thin-webfont.ttf')  format('truetype'),
    url('lato-thin-webfont.svg#lato-thin') format('svg');
  font-weight: normal;
  font-style: normal;
}


.lato-thin {
  font-family:"lato-thin", sans-serif;
}