
@font-face {
  font-family: 'lato-italic';
  src: url('lato-italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('lato-italic-webfont.woff') format('woff'),
    url('lato-italic-webfont.ttf')  format('truetype'),
    url('lato-italic-webfont.svg#lato-italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

.lato-italic {
  font-family:"lato-italic", sans-serif;
}