
@font-face {
  font-family: 'lato-regular';
  src: url('lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('lato-regular-webfont.woff') format('woff'),
    url('lato-regular-webfont.ttf')  format('truetype'),
    url('lato-regular-webfont.svg#lato-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


.lato-regular {
  font-family:"lato-regular", sans-serif;
}