
@font-face {
  font-family: 'lato-bold';
  src: url('lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('lato-bold-webfont.woff') format('woff'),
    url('lato-bold-webfont.ttf')  format('truetype'),
    url('lato-bold-webfont.svg#lato-bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

.lato-bold {
  font-family:"lato-bold", sans-serif;
}