
@font-face {
  font-family: 'lato-black';
  src: url('lato-black-webfont.eot?#iefix') format('embedded-opentype'),
    url('lato-black-webfont.woff') format('woff'),
    url('lato-black-webfont.ttf')  format('truetype'),
    url('lato-black-webfont.svg#lato-black') format('svg');
  font-weight: normal;
  font-style: normal;
}

.lato-black {
  font-family:"lato-black", sans-serif;
}
