@font-face {
  font-family: 'sourcesanspro-bolditalic';
  src: url('sourcesanspro-bolditalic.eot');
  src: url('sourcesanspro-bolditalic.eot?#iefix') format('embedded-opentype'),
  url('sourcesanspro-bolditalic.woff2') format('woff2'),
  url('sourcesanspro-bolditalic.woff') format('woff'),
  url('sourcesanspro-bolditalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

.sourcesanspro-bolditalic {
  font-family:"sourcesanspro-bolditalic", sans-serif;
}
