@font-face {
  font-family: 'sourcesanspro-light';
  src: url('sourcesanspro-light.eot');
  src: url('sourcesanspro-light.eot?#iefix') format('embedded-opentype'),
  url('sourcesanspro-light.woff2') format('woff2'),
  url('sourcesanspro-light.woff') format('woff'),
  url('sourcesanspro-light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

.sourcesanspro-light {
  font-family:"sourcesanspro-light", sans-serif;
}
