@font-face {
  font-family: 'sourcesanspro-extralightitalic';
  src: url('sourcesanspro-extralightitalic.eot');
  src: url('sourcesanspro-extralightitalic.eot?#iefix') format('embedded-opentype'),
  url('sourcesanspro-extralightitalic.woff2') format('woff2'),
  url('sourcesanspro-extralightitalic.woff') format('woff'),
  url('sourcesanspro-extralightitalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

.sourcesanspro-extralightitalic {
  font-family:"sourcesanspro-extralightitalic", sans-serif;
}
