@font-face {
  font-family: 'sourcesanspro-semibold';
  src: url('sourcesanspro-semibold.eot');
  src: url('sourcesanspro-semibold.eot?#iefix') format('embedded-opentype'),
  url('sourcesanspro-semibold.woff2') format('woff2'),
  url('sourcesanspro-semibold.woff') format('woff'),
  url('sourcesanspro-semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}


.sourcesanspro-semibold {
  font-family:"sourcesanspro-semibold", sans-serif;
}
