@font-face {
  font-family: 'sourcesanspro-bold';
  src: url('sourcesanspro-bold.eot');
  src: url('sourcesanspro-bold.eot?#iefix') format('embedded-opentype'),
  url('sourcesanspro-bold.woff2') format('woff2'),
  url('sourcesanspro-bold.woff') format('woff'),
  url('sourcesanspro-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

.sourcesanspro-bold {
  font-family:"sourcesanspro-bold", sans-serif;
}
